.buttonsContainer {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.responseContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.imageContainer {
}

.image {
}

.textContainer{
    margin: 70px;
}

.code {
    font-size: 2em;
    font-weight: bold;
    margin-bottom: 5px;
}

.text {
}
.info {
}