.input:focus {
}

.input {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
}

.inputWrapper {
    display: flex;
    flex-direction: column-reverse;
}

.superInput {
    width: 372px;
    height: 36px;
    border-radius: 5px;
    border: 1px solid #D1D1D1;
    outline: none;
}

.errorInput {
    border: 1px solid red;
    outline: none;
}

.errorInput:focus {
}

.error {
    color: red;
}
