.tech {
    width: 50%;
    margin-left: 10px;
}

.developer {

}

.techHeader {
    width: 50%;
    margin-left: 10px;
}

.developerHeader {

}

.row {
    display: flex;
    align-items: center;
    width: 500px;
    border-top: 1px solid #E5E5E5;
    height: 35px;
}

.rowHeader {
    display: flex;
    align-items: center;
    background-color: #E5E5E5;
    width: 500px;
    height: 30px;
    margin-top: 30px;
}

.loading {
    position: absolute;
    width: 550px;
    height: 250px;
    background-color: white;
    z-index: 9998;
    opacity: 0.7;
}

.rowHeader img {
    width: 15px;
    margin-left: 5px;
}