.buttonsContainer {
    margin-top: 20px;
    width: 290px;
    display: flex;
    justify-content: space-between;

}

.clock {
}

.watch {
}

.watch strong {
}

.more {
    color: rgba(0, 0, 0, 0.5);
    margin-top: 5px;
}