.App {
    --header_height: 60px;
    width: 1150px;
    margin: 0 auto;
    background-color: white;
}

.hw {
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    padding: 50px;
}

.hwTitle {
    padding-top: 30px;
    padding-left: 50px;
    margin-bottom: 5px;
    font-weight: bold;
}